.label {
  color: rgb(252, 252, 252);
  width: 200px;
  height: 60px;
  display: block;
  position: relative;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 0 0 2px black;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  overflow: hidden;
  cursor: pointer;
}
#menu_images {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.material-icons {
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}
.App-header {
  text-align: center;
}
.pictures {
  padding: 25px;
}
.text {
  vertical-align: middle;
  display: inline-block;
  line-height: 60px;
}
