.label {
  color: black;
  z-index: 1;
  height: 50px;
  display: block;
  position: relative;
  margin: 0 auto;
  width: 200px;
  font-size: normal;
  background-color: white;
  line-height: 50px;
  border-radius: 10px;
  border: 1px solid black;
}
#menu_images {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
}
